@(username: Option[String], postForm: Form[PostForm])(implicit messages: Messages)
@import helper._

@main("Create new post", username){
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h2>Create new post</h2>
        @form(action = routes.PostsController.createNewPost(), args = 'class -> "post-form"){
            <div class="form-group">
            @inputText(postForm("title"), '_label -> "Title", 'class -> "form-group")
            </div>
            <div class="form-group">
            @textarea(postForm("content"), '_label -> "Content")
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Send">
            </div>
        }
    </div>
}